<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bookify Home</title>
        <link rel="stylesheet" href='styles/homepage.css'>
    </head>
    <body>
        <header>
            <h1>Home</h1>
            <h2><%= userName %>'s Most Recently Liked Tracks</h2>
            <ul>
                <% track.items.forEach(t => { %>
                    <li><%= t.track.name %> <a href="<%= t.track.preview_url %>">Preview</a></li>
                <% }); %>
            </ul>
            <h2><%= userName %>'s Playlists</h2>
            <ul>
                <% playlists.items.forEach(p => { %>
                    <li><%= p.name %> <a href="<%= p.external_urls.spotify %>">Playlist Link</a></li></li>
                <% }); %>
            </ul>
            <form method="post" action="/createPlaylist">
                <button type="submit">Create Playlist</button>
            </form>
            
        </header>
    </body>
</html>
